<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1 class="title">Test Backend and Frontend</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink="/"> Home </a>
      <a mat-button routerLink="/categorys"> Categorys </a>
      <a mat-button routerLink="/posts"> Posts </a>      
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item routerLink="/"> Home </a>
      <a mat-list-item routerLink="/categorys"> Categorys </a>
      <a mat-list-item routerLink="/posts"> Posts </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

